---
import Base from "../layouts/Base.astro";

import { sections } from "../data/computer.ts";

import "../styles/computer.css";

const pageTitle = "computer";
---

<Base title={pageTitle}>
  <h1>{pageTitle}</h1>
  <p>
    this page is where i keep track of the computers i use, mainly my laptop and
    my server.
  </p>
  <p>
    right now this setup is enough for my needs but i'm planning to upgrade the
    server's storage and specs to allow transcoding and running llms at home.
  </p>
  <div class="tab-nav">
    {
      sections.map((section, i) => (
        <button
          class:list={["nav-item", { active: i === 0 }]}
          data-tab={i}
          type="button">
          {section.title}
        </button>
      ))
    }
  </div>
  <div class="tab-content-container">
    {
      sections.map((section, i) => (
        <div
          id={"tab-content-" + i}
          class:list={["tab-pane", { hidden: i !== 0 }]}>
          <ul>
            {section.specs.map((item) => (
              <li>
                <strong>{item.key}:</strong>{" "}
                {Array.isArray(item.value)
                  ? item.value.join(" · ")
                  : item.value}
              </li>
            ))}
          </ul>
          <p>{section.note}</p>
        </div>
      ))
    }
  </div>
</Base>

<script>
  const buttons = document.querySelectorAll(".nav-item");
  const panes = document.querySelectorAll(".tab-pane");

  buttons.forEach((button) => {
    button.addEventListener("click", () => {
      if (button.classList.contains("active")) return;

      // Reset all buttons and panes
      buttons.forEach((btn) => btn.classList.remove("active"));
      panes.forEach((pane) => pane.classList.add("hidden"));

      // Activate the clicked one
      button.classList.add("active");
      const tabId = button.getAttribute("data-tab"); // "0", "1", ..
      const targetPane = document.getElementById("tab-content-" + tabId);
      targetPane?.classList.remove("hidden");
    });
  });
</script>
