---
import Base from "@/layouts/Base.astro";

import { sections } from "@/data/computer.ts";

import "@/styles/computer.css";

const dotfilesLink = "https://github.com/luuumine/nixos";
const pageTitle = "computer";
---

<Base title={pageTitle}>
  <h1>{pageTitle}</h1>
  <p>
    this page is where i keep track of the computers i use. my main setup is
    currently split between my desktop and my home server.
  </p>
  <p>
    i am slowly migrating everything to <strong>NixOS</strong> (especially the server,
    which i plan to upgrade and switch over soon). you can find my config and dotfiles
    <a href={dotfilesLink} target="_blank" rel="noopener">here</a>.
  </p>
  <div class="tab-nav">
    {
      sections.map((section, i) => {
        const slug = section.title.toLowerCase();
        return (
          <button
            class:list={["nav-item", { active: i === 0 }]}
            data-tab={slug}
            type="button">
            {section.title}
          </button>
        );
      })
    }
  </div>
  <div class="tab-content-container">
    {
      sections.map((section, i) => {
        const slug = section.title.toLowerCase();
        return (
          <div
            id={"tab-content-" + slug}
            class:list={["tab-pane", { hidden: i !== 0 }]}>
            <ul>
              {section.specs.map((item) => (
                <li>
                  <strong>{item.key}:</strong>{" "}
                  {Array.isArray(item.value)
                    ? item.value.join(" · ")
                    : item.value}
                </li>
              ))}
            </ul>
            <p>{section.note}</p>
          </div>
        );
      })
    }
  </div>
</Base>

<script>
  document.addEventListener("astro:page-load", () => {
    const buttons = document.querySelectorAll(".nav-item");
    const panes = document.querySelectorAll(".tab-pane");

    buttons.forEach((btn) => {
      btn.addEventListener("click", () => {
        if (btn.classList.contains("active")) return;

        // Reset all buttons and panes
        buttons.forEach((btn) => btn.classList.remove("active"));
        panes.forEach((pane) => pane.classList.add("hidden"));

        // Activate the clicked one
        const slug = btn.getAttribute("data-tab");
        const targetPane = document.getElementById("tab-content-" + slug);

        btn.classList.add("active");
        targetPane?.classList.remove("hidden");
      });
    });
  });
</script>
