---
import { Image } from "astro:assets";

import Base from "@/layouts/Base.astro";

import { likesData } from "@/data/likes.ts";

import "@/styles/likes.css";

const pageTitle = "likes";
---

<Base title={pageTitle}>
  <h1>{pageTitle}</h1>
  <p>here's some stuff i enjoy, in no particular order.</p>
  {
    likesData.map((category, _) => (
      <section>
        <h2 class="category-title">{category.title}</h2>
        <div class="category-grid">
          {category.items.map((item) => (
            <a class="like-card" href={item.url} target="_blank" rel="noopener">
              <Image
                src={item.image}
                alt={item.name}
                sizes="128px"
                width={128}
                height={128}
                widths={[128, 256]}
              />
              <h3>{item.name}</h3>
            </a>
          ))}
        </div>
      </section>
    ))
  }
</Base>
